Session*.vim
.*.sw?
*~
*.o
libpvdid-test
pvdid-daemon
*.so
*.a
sockonnekt
obj
node_modules
pvd-bound-socks
pvd-bound-socks.o
pvd-test-saddr
pvd-test-saddr.o
pvddo.o
pvddo
pvdd-*.tgz
npm-debug.log
__pycache__
build
MANIFEST
dist
